.op {
  &-cvheader {
    align-items: center;
    display: flex;
    margin-bottom: 30px;
    padding-top: 15px;

    &__sidebar {
      flex-basis: 240px;
      flex-shrink: 0;
      padding: 0 15px;
    }

    &__main {
      flex-grow: 1;
      padding: 0 15px;
    }

  }

  &-profile {
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
  }
}
