.op {
  &-header {
    background: #eceae7;
    display: flex;
    height: 50px;
    padding: 0 25px 0;
    box-shadow: 0px -4px 8px -6px rgba(0, 0, 0, 0.5) inset;

    .home & {
      box-shadow: none;
    }

    a {
      color: #494a3c;
      display: inline-block;
      text-decoration: none;
      line-height: 50px;
    }
  }

  &-navigation {
    margin-left: auto;

    .menu {
      margin: 0;
      padding: 0;
      list-style-type: none;

      >.menu-item {
        > a {
          padding: 0 8px;
          position: relative;

          &:after {
            content: '';
            position: absolute;
            top: 18px;
            right: -2px;
            height: 15px;
            width: 1px;
            background: #000000;
          }
        }
      }

      .menu-item {
        position: relative;
        display: inline-block;

        body:not(.home) & {
          &:hover {
            .sub-menu {
              display: block;
              background: #eceae7;
            }
          }
        }
      }

      .sub-menu {
        display: none;
        position: absolute;
        line-height: 1.2;
        right: 0;
        text-align: right;
        top: 45px;
        padding: 5px 0 0;
        z-index: 10;

        .menu-item {
          display: block;
        }

        a {
          display: block;
          line-height: 1.2;
          padding: 5px 10px;
          white-space: nowrap;
          transition: background .3s;

          &:hover {
            background: darken(#eceae7, 10);
          }
        }
      }
    }
  }
}
