.op {
  &-header {
    background: #eceae7;
    border-bottom: 2px solid #BDBBB9;
    display: flex;
    height: $headerHeight;
    padding: 0 25px 0;
    position: relative;

    .home & {
      border-bottom: 0;
      margin-bottom: 36px;
    }

    a {
      color: #494a3c;
      display: inline-block;
      text-decoration: none;
      line-height: $headerHeight;
    }

  &__homelink {
    font-size: 0;
  }
}

  &-logo {
    height: 70px;
    vertical-align: middle;

    .home & {
      position: absolute;
      top: 0;
      height: 100px;
      margin-top: 20px;

      @media all and (max-width: $mobile - 5) {
        height: 80px;
      }
    }
  }

  &-navigation {
    margin-left: auto;

    .menu {
      margin: 0;
      padding: 0;
      list-style-type: none;

      >.menu-item {
        > a {
          padding: 0 8px;
          position: relative;
        }
      }

      .menu-item {
        position: relative;
        display: inline-block;

        body:not(.home) & {
          &:hover {
            .sub-menu {
              @media all and (min-width: #{$tablet + 1}){
                display: block;
                background: #eceae7;
              }
            }
          }
        }

        &.current-menu-item,
        &.current-menu-parent {
          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            height: 4px;
            left: 0;
            right: 0;
            background: #546f97;
          }
        }
      }

      .sub-menu {
        border-top: 4px solid #546f97;
        display: none;
        position: absolute;
        line-height: 1.2;
        right: 0;
        text-align: right;
        top: #{$headerHeight - 4px};
        padding: 5px 0 0;
        z-index: 10;

        .menu-item {
          display: block;

          &:after {
            display: none !important;
          }
        }

        a {
          display: block;
          line-height: 1.2;
          padding: 5px 10px;
          white-space: nowrap;
          transition: background .3s;

          &:hover {
            background: darken(#eceae7, 10);
          }
        }
      }
    }
  }
}
