.op {
 &-slider {
   &__item {
     height: 100vh;
     //left: 0;
     min-height: 130px;
     position: relative; //
     text-align: center;
     //top: 0;
     width: 100%;
   }

   &__image {
     border: 0;
     bottom: auto;
     left: 50%;
     margin: auto;
     max-height: calc(100% - 20px);
     max-width: calc(100% - 20px);
     position: absolute;
     right: auto;
     top: 50%;
     transform: translate(-50%, -50%);
     vertical-align: top;
   }

   &__controller {
     position: absolute;
     bottom: 20px;
     right: 20px;
     z-index: 3;
   }
 }
}

